* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


#container {
    max-width: 1100px;
    margin: auto;
    background-color: rgb(243, 230, 224);
    z-index: 10;
}

.name {
    margin-left: 10px;
}
.menu {
    display: flex;
}

.menu a {
    padding: 10px;
    color: white;
    text-decoration: none;
}
.nav-background {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 60px;
    width: 1100px;
    background: linear-gradient(#34ba22, #132910);
    opacity: 0.85;
    border-radius: 10px;
    z-index: 9;
}


label.name {
    font-size: 30px;
    font-weight: bold;
    color: antiquewhite;
    margin: 0px 8px;
    line-height: 55px;
}

nav ul {
    display: flex;
    float: right;
    margin-right: 40px;
}

nav li  {
    display: inline-block;
    cursor: pointer;
    margin: -10px 8px;
    font-weight: 400;
    line-height: 80px;
    font-size: 22px;
   
}
 nav ul li a {
    text-decoration: none;
    color: blanchedalmond;
    transition: all 1s;
 }

nav li a:hover {
    text-decoration: underline;
}


/*****Hamburger menu*****/
.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding-right: 20px;
}
.cross {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.hamburger:before {
    content: '\2630'; 
}

.hamburger.active:before{
    content: '\2716'; 
}
.nav-background {
    display: flex;
}


/*****mainPhoto*****/
.main-photo {
    padding-top: 60px;
    padding-left: 325px;
    margin-bottom: 20px;
    height: 580px;
    width: 300px;
    z-index: 5;
    cursor: pointer;
}

.main-photo div {
    height: 325px;
    width: 500px;
    position: absolute;
    transition: all 1s;
    backface-visibility: hidden;
    z-index: 1;
}

.main-photo .winter {
    background-image: url("img/chalupazima.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 397px;
    height: 115%;
}

.main-photo.hop .winter {
    transform: rotateY(180deg);
}

.main-photo .summer{
    background-image: url("img/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 397px;
    height: 115%;
    transform: rotateY(180deg);
}

.main-photo.hop .summer {
    transform: rotateY(0deg);
}



/*****Main*****/
.info {
    padding: 20px 10px;
    margin: -4px 0;
    border-bottom: 4px ridge rgba(0, 0, 0, 0.6);
}

p {
    font-size: 18px;
    padding: 10px;
}

.nadpis, .nadpis-dva, .lyze, .vybavenost {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

section#foto {
    border-bottom: 4px ridge rgba(0, 0, 0, 0.6);
}
.photo-title {
    padding: 20px 0;
    text-align: center;
}


.photo-gallery {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    grid-gap: 30px;
}

.photo-gallery img {
    width: 100%;
    filter: grayscale(100%);
    transition: 1s;
}

.photo-gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.show-more, .show-less {
    height: 44px;
    width: 79px;
    background: linear-gradient(#34ba22, #132910);
    color: antiquewhite;
    padding: 8px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}



/*****Accessibility*****/
.list {
    padding: 20px 0;
    text-align: center;
}


.accessibility-summer {
    font-size: 22px;
    font-weight: 600;
    display: block;
    padding-left: 13px;
}

.accessibility-winter {
    display: block;
    font-size: 22px;
    font-weight: 600;
    float: right;
    margin-top: -24px;
    padding-right: 35px;
}

.sun img{
    height: 20px;
    width: 20px;
}

.snow img{
    height: 20px;
    width: 20px;
}

.storno {
    display: block;
    float: right;
    font-size: 20px;
    padding-left: 333px;
    padding-right: 53px;
    padding-top: 37px;
}

.group {
    padding: 20px 10px;
}

.group .acce img{
    float: left;
    height: 50px;
    width: 50px;
}

.group-text p{
    display: block;
    font-size: 20px;
    padding-left: 112px;
    padding-top: 0;
}

.dog {
    padding: 20px 10px;
}

.dog .dog-icon img {
    float: left;
    height: 50px;
    width: 50px;
}

.dog-text p{
    display: block;
    font-size: 20px;
    padding-left: 112px;
    padding-top: 0;
}

.wifi {
    padding: 20px 10px;
}

.wifi .wifi-icon img {
    float: left;
    height: 50px;
    width: 50px;
}

.wifi-text p{
    display: block;
    font-size: 20px;
    padding-left: 112px;
    padding-top: 0;
}

.deposit {
    padding: 20px 10px;
}

.deposit .deposit-icon img {
    float: left;
    height: 50px;
    width: 50px;
}

.deposit-text p{
    display: block;
    font-size: 20px;
    padding-left: 112px;
    padding-top: 0;
    
}

.arriv {
    font-size: 14px;
    padding-top: 30px;
}

.adInfo {
    
    border-bottom: 4px ridge rgba(0, 0, 0, 0.6);
}


/*****Contacts*****/
footer {
    background: linear-gradient(#34ba22, #132910);
}
.pokus {
    display: flex;
}
.contacts {
    padding: 20px 10px;
    border-radius: 10px;
    color: antiquewhite;
    width: 50%;
}

.contacts h1 {
    font-size: 40px;
}

.contacts h4 {
    padding-top: 10px;
    margin-bottom: 50px;
}

.conectivity {
    display: flex;
    line-height: 2.5;
    padding-left: 3px;
}

.conectivity img {
    height: 50px;
    width: 50px;
}

.conectivity a {
    display: block;
    color: antiquewhite;
    padding-left: 15px;
    text-decoration: none;
    font-size: 20px;
}

.map {
   width: 70%;
}


/*****Media*****/

@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }
   .nav-background {
        width: 100%;
   }

    .hamburger {
        display: block;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: -36px;
        width: 37%;
        background: #333;
    }

    .menu.active a {
        padding: 10px;
        color: white;
        text-decoration: none;
    }

    .main-photo {
        padding-left: 3px;
     }

     .main-photo .winter {
        width: 99%;
     }
     .photo-gallery img {
        padding: 0 10px;
        filter: none;
     }

     .hide {
        display: none;
     }

     .show-more {
        display: inline-block;
        margin-left: 144px;
    }
    
    .show-less {
        display: none;
        margin-left: 144px;
    }

    .accessibility-summer, .accessibility-winter {
        display: flex;
        text-align: left;
        margin-bottom: 40px;
        font-size: 18px;
        padding-left: 0;
    }

    .accessibility-winter {
        font-size: 18px;
        float: left;
        padding-right: 0;
        margin-right: 0;
    }

    .storno {
        text-align: center;
        padding-left: 37px;
        font-size: 17px;
        padding-bottom: 41px;
    }

    .group-text p {
        margin: -2px -14px;
    }
    .dog-text p {
        margin: -15px -14px;
    }

    .wifi-text p {
        margin: -2px -14px;
    }

    .deposit-text p {
        margin: -24px -14px
    }
    
    .adInfo {
        padding:15px 0;
        margin: 10px;
    }

    .arriv {
        text-align: left;
        padding-top: 71px;
    }

    .pokus {
        flex-direction: column;
    }
    .contacts {
        width: 100%;
    }
    iframe {
        margin-top: 20px;
        width: 143%;
    }
}
    



    
